body {
  padding-top: 26px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

body > section {
  width: 100%;
  max-width: 1000px;
}

@media (min-width: 300px) {
  .showcase {
    padding-right: 3px;
  }
}

.profilepic_image {
  border-radius: 100%;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.profilepic_name {
  text-align: center;
  position: static;
  margin-top: 45px;
  font-size: 30.4px;
  font-family: Asap, sans-serif;
  text-decoration: underline;
  color: var(--bs-orange);
}

.profilepics {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 3px;
  margin-top: 26px;
}

.grid-item {
  height: 100%;
  border-style: solid none;
  border-left-style: solid;
  border-color: var(--bs-orange);
  border-bottom-color: var(--bs-orange);
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item:last-of-type {
  border-right-style: solid;
}

@media (max-width: 768px) {
  .grid-item {
    border-style: none solid;
    border-top-style: solid;
  }

  .grid-item:last-of-type {
    border-bottom-style: solid;
  }

  .profilepics {
    grid-template-columns: 1fr;
  }
}